@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import "node_modules/modern-normalize/modern-normalize.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* declaracion de variables */

:root {
  --primary-title-color: #212121;
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;

  --accent-color: #2196f3;
  --background-black: #2f303a;
  --background-gray: #f5f4fa;
  --button-filter: #f5f4fa;
  --button-primary-hover: #188ce8;
  --logo-black: #000000;
  --text-white-opacy: #ffffff99;
}


body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.03em;
  margin: auto;
  
  /* Principal */
  width: 1600px;
  height: 2410px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.nav-container{
  display: flex;
  padding: 25px;
  justify-content: space-between;
  margin-bottom: 9px;
  height: 80px;
}

.contact-container{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 9px;
  height: 80px;
}

.Web-logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.header-link {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-title-color);
  margin-left: 50px;
}
.header-link:hover {
  color: var(--accent-color);
}

.tocontact {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-left: 50px;
}
.tocontact:hover {
  color: var(--accent-color);
}

/* ---------------------- */
/* INDEX */
/* ---------------------- */

header{
  border-bottom: 1px solid #ECECEC;;
}

.main-requeriment {
  display: flex;
  background-color: var(--background-black);
  align-items: center;
  height: 600px;
  justify-content: center;
  flex-direction: column;
}

.main-h1 {
  color: var(--primary-white-color);
  font-size: 44px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;
  padding-right: 250px;
  padding-left: 250px;
}

.main-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: 5px solid var(--accent-color);
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.9;
  cursor: pointer;
  margin-top: 30px;
  padding-right: 32px;
  padding-left: 32px;
}
.main-button:hover {
  background-color: var(--button-primary-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

a {
  text-decoration: none;
}

.benefits {
  display: flex;
  padding-top: 95px;
  justify-content: space-evenly;
}

.benefits-column{
  width: 270px;
}

.title-h3 {
  color: var(--primary-title-color);
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.main-benefits-p {
  color: var(--primary-text-color);
  display: block;
  line-height: 24px;
}

.title-h2{
  color: var(--primary-title-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  padding-bottom: 50px;
  padding-top: 94px;
  text-align: center;
}

.what-do-images{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 94px;
}

.our-team{
  background-color: var(--background-gray);
}

.members{
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 94px;
}

.card-member{
  background-color: var(--primary-white-color);
  border-radius: opx opx 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}

.name {
  color: var(--primary-title-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}

.profession{
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;  
}

.footer-container{
  background-color: var(--background-black);
  display: flexbox;
  padding-bottom: 60px;
  padding-top: 60px;
  padding-left: 20px;
  margin-bottom: 9px;
}

.address{
  width: 180px;
  padding-top: 9px;
}

.location-link {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.7;
  }  
.location-link:hover{
    color: var(--button-primary-hover);
}

.link-contact{
  color: var(--text-white-opacy);
  font-style: normal;
  line-height: 24px;
}
.link-contact:hover {
color: var(--button-primary-hover);
}




/* portfolio */

.body-portfolio{
width: 1600px;
height: 1880px;
}

.portfolio-page{
  width: 1170px;
  height: 1360px;
  left: 215px;
  top: 186px;
  margin-bottom: 82px;
  
}

.filter-container{
  margin-left: 270px;
  margin-right: 270px;
}

.butt {
  background: var(--background-gray);
  border-radius: 4px;
  height: 38px;
  margin-left: 8px;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
}

.text:hover {
  color: var(--primary-white-color);
}

.butt:hover{
  height: 38px;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
}


.filter {
  display: flex;
  margin-top: 106px;
  padding-bottom: 56px;
  justify-content: center;
}

.text {
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  color: var(--primary-title-color);
  
}

/*imagenes*/


.mosaic{
  display: flex;
  padding-bottom: 30px;
  flex-wrap: wrap;
  gap: 30px;
}

.card-access{
  background: var(--primary-white-color);
  border: 1px solid #EEEEEE;
  width: 370px;
  height: 404px;
  
}

.card-access:hover {
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.title-image {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: var(--primary-title-color);
    padding-left: 24px;
    text-align: left;
    width: 322px;
    padding-top: 20px;
}

.title-image-poster{
    font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.06em;
      color: var(--primary-title-color);
      padding-left: 24px;
      text-align: left;
      width: 322px;
      padding-top: 20px;
}

.description {
    color: #757575;
    line-height: 30px;
    text-align: left;
    padding-left: 24px;
}

